* {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", cursive;
  background-color: #f3e3d36e;
}
h1 {
  text-align: center;
  margin: 20px;
  letter-spacing: .5rem;
  color: #876758;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  margin: 20px;
}

.color-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 20px;
  text-align: center;
  margin: 5px;
  box-shadow: 4px 4px 12px rgba(147, 136, 136, 0.9);
}
.color-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
